# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ludddgjuasgearcdimhi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1ZGRkZ2p1YXNnZWFyY2RpbWhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU4ODEyNTgsImV4cCI6MjA3MTQ1NzI1OH0.jSdRpf3xTGuMZ7R9Qdokl7hU50UhsR1-5MF7uogRrrI
